# ==========================
# PYTHON
# ==========================
__pycache__/
*.pyc
*.pyo

# ==========================
# APP DATA FOLDERS TO IGNORE
# ==========================
captures/
log/
model/
OP3-1/
OP3-1_pictures/
OP3-3/
OP3-3_pictures/

# ==========================
# IMAGE FILES
# ==========================
*.png
*.jpg
*.jpeg
*.bmp
*.tif
*.tiff

# ==========================
# MODEL FILES
# ==========================
*.pth
*.pt

# ==========================
# LOG FILES
# ==========================
*.log
log.txt

# ==========================
# BUILD / EXE
# ==========================
dist/
build/
*.spec
*.exe

# ==========================
# IDE / SYSTEM FILES
# ==========================
.vscode/
.DS_Store
Thumbs.db

# ==========================
# ENVIRONMENTS
# ==========================
venv/
env/
.venv/

